## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file from your Weather_Database folder from Deliverable 1 as a DataFrame.. 
city_data_df = pd.read_csv("../Weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,2022-07-02 01:18:10,22.0752,-159.3190,84.18,75,100,17.27,overcast clouds
1,1,Mataura,NZ,2022-07-02 01:18:11,-46.1927,168.8643,53.47,80,63,5.26,broken clouds
2,2,Taoudenni,ML,2022-07-02 01:18:11,22.6783,-3.9836,97.75,21,100,7.27,overcast clouds
3,3,Lasa,IT,2022-07-02 01:18:12,46.6166,10.7002,58.37,92,3,2.44,clear sky
4,4,Port Elizabeth,ZA,2022-07-02 01:18:12,-33.9180,25.5701,70.32,42,0,12.66,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria for their vacation
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,2022-07-02 01:18:10,22.0752,-159.3190,84.18,75,100,17.27,overcast clouds
11,11,Vanimo,PG,2022-07-02 01:18:14,-2.6741,141.3028,85.15,69,38,7.40,scattered clouds
12,12,Hithadhoo,MV,2022-07-02 01:18:14,-0.6000,73.0833,78.35,85,100,13.22,moderate rain
14,14,Along,IN,2022-07-02 01:18:15,28.1667,94.7667,76.64,91,33,0.38,scattered clouds
17,17,Hambantota,LK,2022-07-02 01:18:16,6.1241,81.1185,80.87,76,60,20.58,broken clouds
22,22,Albany,US,2022-07-02 01:16:58,42.6001,-73.9662,83.05,61,99,4.21,overcast clouds
29,29,Cayenne,GF,2022-07-02 01:18:19,4.9333,-52.3333,80.10,1,20,3.00,few clouds
31,31,Martapura,ID,2022-07-02 01:18:20,-3.4167,114.8500,82.49,78,87,4.61,overcast clouds
33,33,Dingle,PH,2022-07-02 01:18:20,10.9995,122.6711,84.31,73,100,3.31,overcast clouds
35,35,Vaini,TO,2022-07-02 01:18:21,-21.2000,-175.2000,78.96,83,40,9.22,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
# preferred_cities_df.count() or 
# preferred_cities_df.isnull().sum() or
preferred_cities_df.notnull().sum()

City_ID                268
City                   268
Country                268
Date                   268
Lat                    268
Lng                    268
Max Temp               268
Humidity               268
Cloudiness             268
Wind Speed             268
Current Description    268
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df
clean_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,2022-07-02 01:18:10,22.0752,-159.3190,84.18,75,100,17.27,overcast clouds
11,11,Vanimo,PG,2022-07-02 01:18:14,-2.6741,141.3028,85.15,69,38,7.40,scattered clouds
12,12,Hithadhoo,MV,2022-07-02 01:18:14,-0.6000,73.0833,78.35,85,100,13.22,moderate rain
14,14,Along,IN,2022-07-02 01:18:15,28.1667,94.7667,76.64,91,33,0.38,scattered clouds
17,17,Hambantota,LK,2022-07-02 01:18:16,6.1241,81.1185,80.87,76,60,20.58,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,overcast clouds,22.0752,-159.3190,
11,Vanimo,PG,85.15,scattered clouds,-2.6741,141.3028,
12,Hithadhoo,MV,78.35,moderate rain,-0.6000,73.0833,
14,Along,IN,76.64,scattered clouds,28.1667,94.7667,
17,Hambantota,LK,80.87,broken clouds,6.1241,81.1185,
22,Albany,US,83.05,overcast clouds,42.6001,-73.9662,
29,Cayenne,GF,80.10,few clouds,4.9333,-52.3333,
31,Martapura,ID,82.49,overcast clouds,-3.4167,114.8500,
33,Dingle,PH,84.31,overcast clouds,10.9995,122.6711,
35,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.count()

City                   268
Country                268
Max Temp               268
Current Description    268
Lat                    268
Lng                    268
Hotel Name             268
dtype: int64

In [10]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Vanimo,PG,85.15,scattered clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
12,Hithadhoo,MV,78.35,moderate rain,-0.6000,73.0833,Scoop Guest House
14,Along,IN,76.64,scattered clouds,28.1667,94.7667,Hotel West
17,Hambantota,LK,80.87,broken clouds,6.1241,81.1185,Bungalow 63

In [27]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.copy()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Vanimo,PG,85.15,scattered clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
12,Hithadhoo,MV,78.35,moderate rain,-0.6000,73.0833,Scoop Guest House
14,Along,IN,76.64,scattered clouds,28.1667,94.7667,Hotel West
17,Hambantota,LK,80.87,broken clouds,6.1241,81.1185,Bungalow 63
22,Albany,US,83.05,overcast clouds,42.6001,-73.9662,
29,Cayenne,GF,80.10,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
31,Martapura,ID,82.49,overcast clouds,-3.4167,114.8500,Montana Hotel Syariah
33,Dingle,PH,84.31,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
35,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

In [28]:
clean_hotel_df.count()

City                   268
Country                268
Max Temp               268
Current Description    268
Lat                    268
Lng                    268
Hotel Name             268
dtype: int64

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))