## Deliverable 3. Create a Travel Itinerary Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# import sys
# sys.path.append('../World_Weather_analysis/config.py')

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [24]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Faanui,PF,79.97,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
1,5,Namatanai,PG,84.00,light rain,-3.6667,152.4333,Seagulls Inn Namatani
2,6,Atuona,PF,77.36,light rain,-9.8000,-139.0333,Villa Enata
3,9,Butaritari,KI,82.76,light rain,3.0707,172.7902,Isles Sunset Lodge
4,10,Bengkulu,ID,77.32,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu

In [25]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_search = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = vacation_df[["Lat", "Lng"]]
locations_df

         Lat       Lng
0   -16.4833 -151.7500
1    -3.6667  152.4333
2    -9.8000 -139.0333
3     3.0707  172.7902
4    -3.8004  102.2655
..       ...       ...
221  10.4500   77.5500
222  17.9583 -102.2000
223  40.5719    9.6922
224  -6.5333  110.7000
225  32.6881  128.8419

[226 rows x 2 columns]

In [26]:
# 4a. Add a marker layer for each city to the map.
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations_df = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations_df, info_box_content=vacation_search)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Laguna"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Laguna"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Cookeville"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Miramar"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Broome"]

In [46]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
102,308,Laguna,US,86.45,clear sky,38.421,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [47]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
22,74,Cookeville,US,84.99,clear sky,36.1628,-85.5016,La Quinta Inn & Suites by Wyndham Cookeville

In [48]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
163,496,Miramar,US,85.01,clear sky,25.9873,-80.2323,Stadium Hotel

In [49]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
24,76,Broome,US,75.69,scattered clouds,42.2506,-75.833,Chenango Valley State Park

In [50]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
102,308,Laguna,US,86.45,clear sky,38.421,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [51]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# start =  pd.DataFrame(vacation_start["Lat"]).join(pd.DataFrame(vacation_start["Lng"]))
# Get the lat and lng for the start and end of the trip
## The latitude and longitude pairs for each of the four cities are retrieved.
start = vacation_start[["Lat", "Lng"]]
print(start)

        Lat       Lng
102  38.421 -121.4238

In [52]:
end = vacation_end[["Lat", "Lng"]]
print(end)

        Lat       Lng
102  38.421 -121.4238

In [53]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

        Lat      Lng
22  36.1628 -85.5016

In [54]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

         Lat      Lng
163  25.9873 -80.2323

In [55]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

        Lat     Lng
24  42.2506 -75.833

In [56]:
# 6. Another way to get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

stop3

array([42.2506, -75.833], dtype=object)

In [62]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# USING DRIVING MODE!

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

import gmaps.datasets

Laguna = start
San_Jose = stop1
Makakilo_City = stop2
Miramar = stop3

waypoints = [stop1, stop2, stop3]

fig = gmaps.figure()
# Trip_Itinerary = gmaps.directions_layer(Laguna, Laguna, waypoints=[San Jose, Makakilo City, Miramar], travel_mode='DRIVING')
Trip_Itinerary = gmaps.directions_layer(start, end, waypoints=waypoints,travel_mode='DRIVING', show_markers = True)
fig.add_layer(Trip_Itinerary)

# Display figure.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
# itinerary_df = pd.concat([],ignore_index=True)
# itinerary_df

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,308,Laguna,US,86.45,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,74,Cookeville,US,84.99,clear sky,36.1628,-85.5016,La Quinta Inn & Suites by Wyndham Cookeville
2,496,Miramar,US,85.01,clear sky,25.9873,-80.2323,Stadium Hotel
3,76,Broome,US,75.69,scattered clouds,42.2506,-75.8330,Chenango Valley State Park

In [60]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [61]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))